@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-moz-scrollbar {
    width: 0px;
}

::-moz-scrollbar-thumb {
    @apply bg-sky-700 rounded-[5px];
}

::-webkit-scrollbar-thumb {
    @apply bg-sky-700 rounded-b-[5px] cursor-pointer;
}

.custom-calendar {
    @apply rounded-[5px]
}

.custom-calendar .react-calendar__month-view__weekdays {
    @apply border-b border-gray-300 mb-[5px];
    font-family: "Montserrat", sans-serif;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
    @apply text-teal-600 font-semibold text-[13px];
    text-decoration: none;
}

.cont-1-scrollbar::-webkit-scrollbar {
    @apply w-[8px] h-[5px]
}

.cont-1-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-[3px]
}


/* header page style */

.header-nav-link {
    @apply text-lg text-slate-300 cursor-pointer;
}

.header-nav-link:hover {
    @apply text-amber-500;
}

.active-header-nav-link {
    @apply text-lg text-white font-[500] cursor-pointer;
}


/* input areas */

.input-error-1 {
    @apply h-[45px] w-[100%] outline-none p-[0] px-[10px] border-2 border-red-500 text-sm rounded-[3px] bg-transparent
}

.input-type-3 {
    @apply h-[35px] w-[100%] outline-none p-[0] px-[10px] border border-slate-400 text-sm rounded-[3px] bg-transparent
}

.input-type-2 {
    @apply h-[40px] w-[100%] outline-none p-[0] px-[10px] border border-slate-400 text-sm rounded-[3px] bg-transparent
}

@media (max-width: 1280px) {
    .input-type-2 {
        @apply h-[35px];
    }
}

.input-type-1 {
    @apply h-[45px] w-[100%] outline-none p-[0] px-[10px] border border-slate-400 text-sm rounded-[3px] bg-transparent
}

.input-type-2:focus {
    @apply border-2 border-blue-500
}

.input-type-3:focus {
    @apply border-2 border-blue-500
}

.input-type-1:focus {
    @apply border-2 border-blue-500
}

.text-area-input-1 {
    @apply w-[100%] outline-none p-[10px] border border-slate-400 text-sm rounded-[3px] bg-transparent resize-none
}

.dark-normal-input {
    @apply h-[40px] w-[100%] outline-none p-[0] px-[10px] border border-slate-200 text-sm rounded-[3px] text-slate-200 bg-transparent;
}

.dark-normal-input:focus {
    @apply bg-slate-700
}

.normal-input {
    @apply h-[40px] w-[100%] outline-none p-[0] px-[10px] border border-gray-400 rounded-[3px]
}

.normal-input-error {
    @apply h-[40px] w-[100%] outline-none p-[0] px-[10px] border-2 border-red-500 rounded-[3px]
}

.normal-input:focus {
    @apply border-2 border-teal-500
}

.signup-input {
    @apply h-[50px] w-[100%] outline-none p-[0] px-[10px] border border-gray-400 rounded-[3px] text-sm;
}

.signup-input:focus {
    @apply border-2 border-teal-500 text-sm;
}

.signup-input-error {
    @apply h-[50px] w-[100%] outline-none p-[0] px-[10px] border-2 border-red-500 rounded-[5px] text-sm;
}

.password-input {
    @apply h-[50px] w-[100%] outline-none p-[0] pr-[40px] pl-[10px] border border-gray-400 rounded-[5px] text-sm;
}

.password-input:focus {
    @apply border-2 border-teal-500 text-sm;
}

.password-input-error {
    @apply h-[50px] w-[100%] outline-none p-[0] pr-[40px] pl-[10px] border-2 border-red-500 rounded-[5px] text-sm;
}

.nav-input {
    @apply h-[40px] w-[100%] outline-none p-[0] pr-[50px] pl-[10px] border border-gray-400 rounded-[3px] text-sm;
}

.nav-input-error {
    @apply h-[40px] w-[100%] outline-none p-[0] pr-[50px] pl-[10px] border-2 border-red-500 rounded-[5px] text-sm;
}

.nav-input:focus {
    @apply border-2 border-teal-500 text-sm;
}

.checkbox-40 {
    @apply h-[17px] w-[17px]
}


/* navigation buttons */

.nav-box {
    @apply px-5 h-[45px] text-[14px] w-full flex items-center justify-start gap-2 relative whitespace-nowrap rounded-[45px] cursor-pointer;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .nav-box {
        @apply px-0 h-[40px] text-[14px] w-[40px] flex items-center justify-center gap-2 relative whitespace-nowrap cursor-pointer relative;
    }
}

.nav-box:hover {
    @apply bg-blue-500 text-white;
}

.active-nav-box {
    @apply px-5 h-[45px] text-[14px] w-full flex items-center justify-start gap-2 relative whitespace-nowrap rounded-[45px] bg-blue-500 text-white
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .active-nav-box {
        @apply px-0 h-[40px] text-[14px] w-[40px] flex items-center justify-center gap-2 relative whitespace-nowrap rounded-[45px] bg-blue-500 text-white
    }
}

@media (max-width: 1024px) {
    .active-nav-box {
        @apply px-5 h-[40px] text-[14px] w-full flex items-center justify-start gap-2 relative whitespace-nowrap rounded-[45px] bg-blue-500 text-white
    }
}

.prj-nav-btn {
    @apply h-[40px] text-[13px] px-[20px] flex items-center justify-center gap-2 relative whitespace-nowrap rounded-[45px] cursor-pointer;
}

.prj-nav-btn:hover {
    @apply bg-blue-500 text-white;
}

.active-prj-nav-btn {
    @apply h-[40px] text-[13px] px-[20px] flex items-center justify-center gap-2 relative whitespace-nowrap rounded-[45px] bg-blue-500 text-white
}

.logout-box {
    @apply px-5 h-[45px] text-[14px] w-full flex items-center justify-start gap-2 relative whitespace-nowrap rounded-[45px] cursor-pointer;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .logout-box {
        @apply px-0 h-[40px] text-[14px] w-[40px] flex items-center justify-center gap-2 relative whitespace-nowrap rounded-[45px];
    }
}

.logout-box:hover {
    @apply bg-red-500 text-white;
}

.table-body-row-1 {
    @apply w-full py-[7.5px] flex items-center justify-between;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .table-body-row-1 {
        @apply w-full py-[5px] flex items-center justify-between;
    }
}

.table-body-row-1:nth-child(even) {
    @apply border border-slate-200
}

.table-body-row-2 {
    @apply w-full h-[60px] flex items-center justify-between;
}

.table-body-row-2:nth-child(even) {
    @apply border border-slate-300
}

.toggle {
    @apply h-[25px] w-[45px] cursor-pointer rounded-[25px] bg-slate-200;
}

.active-toggle {
    @apply h-[25px] w-[45px] cursor-pointer rounded-[25px] bg-blue-600;
}

.drop_down_menu_box_1 {
    @apply w-full px-[7.5px] h-[35px] rounded-[3px] flex items-center justify-between gap-5;
}

.drop_down_menu_box_1:hover {
    @apply bg-blue-600 text-white;
}


/* ---------------loadin-------------- */

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
    50% {
        transform: scale(1.2);
        background-color: #4b79e4;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
    100% {
        transform: scale(0.8);
        background-color: #2584f8;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

.avatar-info {
    @apply mr-[-5px];
}

.task-modal-nav {
    @apply h-[45px] px-[10px] text-sm font-[500] text-slate-700 flex items-center justify-center cursor-pointer;
}

.active-task-modal-nav {
    @apply px-[10px] h-[45px] text-sm font-[500] text-slate-700 relative flex items-center justify-center;
}

.active-task-modal-nav::before {
    @apply h-[3.5px] absolute bg-blue-600 bottom-0 w-full;
    content: '';
}

.activity-cont-1 {
    @apply h-auto max-h-[150px] p-[10px] w-full flex items-start justify-start gap-[15px];
}

.notification-item-cont {
    @apply w-full min-h-[50px] flex items-center justify-start p-[10px]
}

.notification-item-cont:nth-child(even) {
    @apply border border-slate-300
}

.projct-action-list {
    @apply w-full h-[30px] text-sm px-[10px] cursor-pointer flex items-center justify-start;
}

.projct-action-list:hover {
    @apply bg-slate-200
}

.table-cont {
    @apply w-full overflow-x-auto
}

@media (max-width: 1024px) {
    .table-cont {
        @apply overflow-x-auto;
        width: calc(100vw - 25px);
    }
}


/* side bar animation */

.show-side-bar {
    @apply h-[100vh] w-[255px] absolute top-0 z-[100] bg-white flex flex-col shadow-md border-l border-slate-200;
    animation: show_side_bar_animation 0.3s ease-in-out forwards;
}

.hide-side-bar {
    @apply h-[100vh] w-[255px] absolute top-0 z-[100] bg-white flex flex-col shadow-md border-l border-slate-200;
    animation: hide_side_bar_animation 0.3s ease-in-out forwards;
}

@keyframes show_side_bar_animation {
    0% {
        right: -260px;
    }
    100% {
        right: 0;
    }
}

@keyframes hide_side_bar_animation {
    0% {
        right: 0;
    }
    90% {
        right: -260px;
    }
    100% {
        display: none;
    }
}